.main {
	padding: 16px 0;
}

/* stylelint-disable-next-line selector-max-combinators */
.main + .main {
	border-top: 1px dashed var(--YELLOW);
	margin-top: 32px;
}

.players {
	display: flex;
	flex-wrap: wrap;
}

.player {
	align-items: flex-start;
	display: flex;
	padding: 16px 0;
	width: 50%;
}

.playerAvatar {
	background: #000;
	border-radius: 50%;
	flex: 0 0 64px;
	height: 64px;
	margin-right: 24px;
	width: 64px;
}

.playerHeader {
	display: flex;
}

.playerHeaderTitle {
	flex: 0 0 auto;
}

.playerHeaderSocial {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
}

.playerInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 16px;
	text-align: justify;
}

.playerName {
	font-size: 22px;
	font-weight: 200;
	margin: 0;
}

.playerRole {
	color: var(--GRAY);
	font-size: 14px;
	font-style: italic;
}

/* Mobile */
@media screen and (max-width: 1280px) {
	.players {
		flex-flow: column initial;
	}

	.player {
		width: auto;
	}
}
