.wrapper {
	align-items: center;
	border-bottom: 3px solid var(--YELLOW);
	display: flex;
	height: 720px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.video {
	filter: blur(10px) grayscale(50%);
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	width: 100%;
}

.content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.inner {
	display: flex;
	height: 100%;
}

/* Mobile */
@media screen and (max-width: 1280px) {
	.wrapper {
		height: 320px;
	}
}
