.content {
	display: flex;
}

.left,
.right {
	flex: 1 1 50%;
}

.info {
	margin-bottom: 32px;
}

.button {
	display: inline-block;
	padding: 8px 16px;
}

.buttonIcon {
	margin-right: 16px;
}

.info2 {
	margin-bottom: 32px;
	margin-top: 32px;
}

.discordEmbed {
	margin-bottom: 32px;
}

.img {
	border: 8px solid var(--BLUE);
	height: 340px;
	margin: 16px;
	width: 512px;
}
