.teaserCenter {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.h1 {
	font-size: 48px;
	font-weight: 100;
	margin: 0;
}

.h1strong {
	font-weight: 300;
}

.slogan {
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	line-height: 200%;
	margin: 32px auto 0;
	width: 800px;
}

.sloganButton {
	margin: 64px auto 0;
}

.tripleBoxWrapper {
	display: flex;
	margin-bottom: 64px;
	margin-top: 64px;
}

.tripleBox {
	flex: 1 1 33.333%;
	text-align: center;
}

.competitiveIcon { color: var(--RED) }
.collaborativeIcon { color: var(--BLUE) }
.socialIcon { color: var(--GREEN) }

.tripleBoxP {
	color: var(--GRAY);
	font-size: 16px;
	font-weight: 300;
	line-height: 200%;
	margin: 32px;
}

/* Mobile */
@media screen and (max-width: 1280px) {
	.h1 {
		font-size: 24px;
	}

	.slogan {
		font-size: 14px;
		margin: 16px 16px 0;
		width: auto;
	}

	.sloganButton {
		margin-top: 32px;
	}

	.tripleBoxWrapper {
		flex-direction: column;
	}
}
