.link {
	font-size: 18px;
	font-weight: 300;
	padding: 8px 16px;
	text-transform: uppercase;
}

.link + .link {
	margin-left: 16px;
}

/* Mobile */
@media screen and (max-width: 1280px) {
	.link {
		font-size: 12px;
		padding: 8px;
	}

	.link + .link {
		margin-left: 8px
	}
}
