.main {
	align-items: center;
	display: flex;
	flex: 0 0 160px;
	flex-direction: column;
	justify-content: center;
}

.award1 { color: var(--YELLOW) }
.award2 { color: var(--GRAY) }
.award3 { color: var(--ORANGE) }

.num {
	font-size: 48px;
	margin: 0 16px;
}

.sup {
	color: var(--GRAY);
	font-size: 16px;
	vertical-align: 22px;
}

.place {
	color: var(--GRAY);
	margin-top: 8px;
}
